.time-select {
  position: relative;
  text-align: center;

  & label,
  & select {
    display: block;
    visibility: visible;
    position: relative;
    margin: .2em .5em;
  }

  & select,
  & .fake-select {
    border: .15em solid var(--blue);
    border-radius: .5em;
    background: var(--blue);
    color: white;
    font-size: 1.25em;
  }

  & select {
    /* height: 1em; */

    option {
      max-height: 0;
      overflow: hidden;
      z-index: -10;
    }
  }

  & .fake-select {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 1;
    height: 5rem;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: block mandatory;
    scroll-margin-block: .5em;
    list-style: none;
    background: #228866;
    text-align: center;

    & li {
      scroll-snap-align: top;
      padding-block: .25ch;
    }
  }

  &:has(select:focus) {

    & .fake-select {
      display: block;
    }
  }
}