button {
  width: 5em;
  height: 5em;
  margin: 1em; 
  border: .2em solid white;
  border-radius: 5em;
  background-color: transparent;
  color: white;
  font-size: .75rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

button:focus, button:active {
  outline: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}