.frequentSetting__buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center
}
.frequentSetting__buttons button {
  width: 5em;
  height: 5em;
  margin: .5em; 
  font-size: .7rem;
  padding: 0;
}
@media screen and (max-height: 632px) {
  .frequentSetting__buttons {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .frequentSetting__buttons button {
    font-size: 1rem;
  }
}