:root {
  --fontStack: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  /* #region colors */
  --blue: #33809e;
  /* #endregion colors */
  font-size: calc(15px + .390625vw);
  line-height: 1.25;
}

/* #endregion */

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top left, #33809ecc, var(--blue)) no-repeat;
  color: white;
  font-family: var(--fontStack);
  overflow: hidden;
}