:root {
  --fontStack: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  /* #region colors */
  --blue: rgb(131, 205, 235);
  /* #endregion colors */
}

html {
  font-size: 100%;
}

body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgba(131, 205, 235, 0.527),var(--blue));
  color: white;
  font-family: var(--fontStack);
}
